*, *::before, *::after { box-sizing: inherit; }

h1,h2 {
	border-bottom: 2px solid #8888;
}

body {
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	display: flex; flex-direction: column;
	min-height: 100vh;
	&> main { flex-grow: 1; }
}

#site-header,
#site-footer {
	background: #8f84;
	backdrop-filter: blur(12px);
	box-shadow: 0 0 14px black;
	color: #efe;
	display: flex; flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;

	&#site-header {
		padding: 0 1em;
		font-size: 1.5em;
		height: 2em;
		a {
			color: white;
			text-decoration: none;
		}
	}

	&#site-footer {
		padding: 5vh 2em;
	}

	a {
		color: #8cf;
		&:visited { color: #9df; }
	}
}
